<div class="container-fluid">
		<header class="row">                    
                     {{ page.header }}			
		</header>
		<div class="side-menu-overlay" style="width: 0px; opacity: 0;"></div>

			<div class="side-menu-wrapper">
				<a href="#" class="menu-close">&times;</a>
				<nav>
                                    {{page.slidenav}}
                                </nav>
			</div>
        {% if page.contenttop %}             
		<section class="section-0 row">
                    {{ page.contenttop }}
		</section>
		{% endif %}

     {{ page.content }}
	{{ page.contentbottom }}		 
	<section class="footer">
			 {{ page.footer }}
	</section>
	</div>
